
  <main id="content" role="main">
    <!-- Hero -->
    <div class="position-relative bg-img-start" style="background-image: url(./assets/svg/components/card-11.svg);">
      <div class="container content-space-t-3 content-space-t-lg-5 content-space-b-2 position-relative zi-2">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
          <h1>Contact us</h1>
          <p>We'd love to talk about how we can help you.</p>
        </div>

        <div class="row">
          <div class="col-md-4 mb-3 mb-md-0">
            <!-- Card -->
            <a class="card card-transition text-center h-100" [routerLink]="['/services']">
              <div class="card-body">
                <div class="svg-icon text-primary mb-3">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 8H16C15.4 8 15 8.4 15 9V16H10V17C10 17.6 10.4 18 11 18H16C16 16.9 16.9 16 18 16C19.1 16 20 16.9 20 18H21C21.6 18 22 17.6 22 17V13L20 8Z" fill="#035A4B"/>
                    <path opacity="0.3" d="M20 18C20 19.1 19.1 20 18 20C16.9 20 16 19.1 16 18C16 16.9 16.9 16 18 16C19.1 16 20 16.9 20 18ZM15 4C15 3.4 14.6 3 14 3H3C2.4 3 2 3.4 2 4V13C2 13.6 2.4 14 3 14H15V4ZM6 16C4.9 16 4 16.9 4 18C4 19.1 4.9 20 6 20C7.1 20 8 19.1 8 18C8 16.9 7.1 16 6 16Z" fill="#035A4B"/>
                  </svg>
                    

                </div>

                <h4 class="card-title">Services</h4>
                <p class="card-text text-body">What we got up our sleeve so you can sleep in peace</p>
              </div>

              <div class="card-footer pt-0">
                <span class="card-link">See services <i class="bi-chevron-right small ms-1"></i></span>
              </div>
            </a>
            <!-- End Card -->
          </div>
          <!-- End Col -->

          <div class="col-md-4 mb-3 mb-md-0">
            <!-- Card -->
            <a class="card card-transition text-center h-100" [routerLink]="['/faq']">
              <div class="card-body">
                <div class="svg-icon text-primary mb-3">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.1671 18.1421C22.4827 18.4577 23.0222 18.2331 23.0206 17.7868L23.0039 13.1053V5.52632C23.0039 4.13107 21.8729 3 20.4776 3H8.68815C7.2929 3 6.16183 4.13107 6.16183 5.52632V9H13C14.6568 9 16 10.3431 16 12V15.6316H19.6565L22.1671 18.1421Z" fill="#035A4B"/>
                  <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M1.98508 18V13C1.98508 11.8954 2.88051 11 3.98508 11H11.9851C13.0896 11 13.9851 11.8954 13.9851 13V18C13.9851 19.1046 13.0896 20 11.9851 20H4.10081L2.85695 21.1905C2.53895 21.4949 2.01123 21.2695 2.01123 20.8293V18.3243C1.99402 18.2187 1.98508 18.1104 1.98508 18ZM5.99999 14.5C5.99999 14.2239 6.22385 14 6.49999 14H11.5C11.7761 14 12 14.2239 12 14.5C12 14.7761 11.7761 15 11.5 15H6.49999C6.22385 15 5.99999 14.7761 5.99999 14.5ZM9.49999 16C9.22385 16 8.99999 16.2239 8.99999 16.5C8.99999 16.7761 9.22385 17 9.49999 17H11.5C11.7761 17 12 16.7761 12 16.5C12 16.2239 11.7761 16 11.5 16H9.49999Z" fill="#035A4B"/>
                  </svg>

                </div>

                <h4 class="card-title">FAQ</h4>
                <p class="card-text text-body">Search our FAQ for answers to anything you might ask.</p>
              </div>

              <div class="card-footer pt-0">
                <span class="card-link">Visit FAQ <i class="bi-chevron-right small ms-1"></i></span>
              </div>
            </a>
            <!-- End Card -->
          </div>
          <!-- End Col -->

          <div class="col-md-4">
            <!-- Card -->
            <a class="card card-transition text-center h-100" [routerLink]="['/learnmore']">
              <div class="card-body">
                <div class="svg-icon text-primary mb-3">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.3" d="M16.163 17.55C17.0515 16.6633 17.6785 15.5488 17.975 14.329C18.2389 13.1884 18.8119 12.1425 19.631 11.306V11.306L12.694 4.36902C11.8574 5.18796 10.8115 5.76088 9.67099 6.02502C8.15617 6.3947 6.81277 7.27001 5.86261 8.50635C4.91245 9.74268 4.41238 11.266 4.44501 12.825C4.46196 13.6211 4.31769 14.4125 4.0209 15.1515C3.72412 15.8905 3.28092 16.5617 2.71799 17.125L2.28699 17.556C2.10306 17.7402 1.99976 17.9897 1.99976 18.25C1.99976 18.5103 2.10306 18.7598 2.28699 18.944L5.06201 21.719C5.24614 21.9029 5.49575 22.0062 5.75601 22.0062C6.01627 22.0062 6.26588 21.9029 6.45001 21.719L6.88101 21.288C7.44427 20.725 8.11556 20.2819 8.85452 19.9851C9.59349 19.6883 10.3848 19.5441 11.181 19.561C12.1042 19.58 13.0217 19.4114 13.878 19.0658C14.7343 18.7202 15.5116 18.2046 16.163 17.55V17.55Z" fill="#035A4B"/>
                    <path d="M19.631 11.306L12.694 4.36902L14.775 2.28699C14.9591 2.10306 15.2087 1.99976 15.469 1.99976C15.7293 1.99976 15.9789 2.10306 16.163 2.28699L21.713 7.83704C21.8969 8.02117 22.0002 8.27075 22.0002 8.53101C22.0002 8.79126 21.8969 9.04085 21.713 9.22498L19.631 11.306ZM13.041 10.959C12.6427 10.5604 12.1194 10.3112 11.5589 10.2532C10.9985 10.1952 10.4352 10.332 9.96375 10.6405C9.4923 10.949 9.14148 11.4105 8.97034 11.9473C8.79919 12.4841 8.81813 13.0635 9.02399 13.588L2.98099 19.631L4.36899 21.019L10.412 14.975C10.9364 15.1816 11.5161 15.2011 12.0533 15.0303C12.5904 14.8594 13.0523 14.5086 13.361 14.037C13.6697 13.5654 13.8065 13.0018 13.7482 12.4412C13.6899 11.8805 13.4401 11.357 13.041 10.959V10.959Z" fill="#035A4B"/>
                  </svg>
                    

                </div>

                <h4 class="card-title">Learn more</h4>
                <p class="card-text text-body">See eleborate information about our services</p>
              </div>

              <div class="card-footer pt-0">
                <span class="card-link">Learn more<i class="bi-chevron-right small ms-1"></i></span>
              </div>
            </a>
            <!-- End Card -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>

      <!-- Shape -->
      <div class="shape shape-bottom zi-1">
        <svg width="3000" height="500" viewBox="0 0 3000 500" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 500H3000V0L0 500Z" fill="#fff"/>
        </svg>
      </div>
      <!-- End Shape -->
    </div>
    <!-- End Hero -->

    <!-- Contact Form -->
    <div class="container content-space-t-3 content-space-t-lg-5 content-space-b-2">
      <div class="row">
        <div class="col-lg-6 mb-9 mb-lg-0">
          <!-- Heading -->
          <div class="mb-5">
            <h1>Get in touch</h1>
            <p>We'd love to talk about how we can help you.</p>
          </div>
          <!-- End Heading -->

          <!-- Leaflet -->
          <div class="overflow-hidden">
            <div id="mapEg3" class="leaflet mb-5"
                data-hs-leaflet-options='{
                "map": {
                  "scrollWheelZoom": false,
                  "coords": [37.4040344, -122.0289704]
                },
                "marker": [
                  {
                    "coords": [37.4040344, -122.0289704],
                    "icon": {
                      "iconUrl": "../assets/svg/components/map-pin.svg",
                      "iconSize": [50, 45]
                    },
                    "popup": {
                      "text": "153 Williamson Plaza, Maggieberg"
                    }
                  }
                ]
                }'></div>
          </div>
          <!-- End Leaflet -->

          <div class="row">
            <div class="col-sm-6">
              <h5 class="mb-1">Call us:</h5>
              <p>+1 (062) 109-9222</p>
            </div>
            <!-- End Col -->

            <div class="col-sm-6">
              <h5 class="mb-1">Email us:</h5>
              <p>hello@example.com</p>
            </div>
            <!-- End Col -->

            <div class="col-sm-6">
              <h5 class="mb-1">Address:</h5>
              <p>153 Williamson Plaza, Maggieberg</p>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Col -->

        <div class="col-lg-6">
          <div class="ps-lg-5">
            <!-- Card -->
            <div class="card">
              <div class="card-header border-bottom text-center">
                <h3 class="card-header-title">General inquiries</h3>
              </div>

              <div class="card-body">
                <!-- Form -->
                <form #mailForm="ngForm" (ngSubmit)="sendMessage(mailForm.value)" autocomplete="off" novalidate>
                  <div class="row gx-3">
                    <div class="col-sm-6">
                      <!-- Form -->
                      <div class="mb-3">
                        <label class="form-label" for="firstName">First name</label>
                        <input type="text" #firstName = "ngModel" (ngModel)="firstName" name="firstName" id="firstName"
                                placeholder="First name" aria-label="First name" class="form-control form-control-lg" required>
                        <em *ngIf="mailForm.controls['firstName']?.invalid && (mailForm.controls['firstName']?.touched || mouseoverLogin)">Required</em>
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->

                    <div class="col-sm-6">
                      <!-- Form -->
                      <div class="mb-3">
                        <label class="form-label" for="lastName">Last name</label>
                        <input type="text" (ngModel)="lastName" name="lastName" id="lastName"
                                placeholder="Last name" aria-label="Last name" class="form-control form-control-lg" required>
                        <em *ngIf="mailForm.controls['lastName']?.invalid && (mailForm.controls['lastName']?.touched || mouseoverLogin)">Required</em>
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->

                  <div class="row gx-3">
                    <div class="col-sm-6">
                      <!-- Form -->
                      <div class="mb-3">
                        <label class="form-label" for="emailTo">Email address</label>
                        <input type="email" (ngModel)="vistorEmail" name="vistorEmail" id="vistorEmail"
                                placeholder="email@site.com" aria-label="email@site.com" class="form-control form-control-lg" required>
                        <em *ngIf="mailForm.controls['vistorEmail']?.invalid && (mailForm.controls['vistorEmail']?.touched || mouseoverLogin)">Required</em>
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->

                    <div class="col-sm-6">
                      <!-- Form -->
                      <div class="mb-3">
                        <label class="form-label" for="phone">Phone <span class="form-label-secondary">(Optional)</span></label>
                        <input type="text" (ngModel)="phone" name="phone" id="phone" p
                                placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx" class="form-control form-control-lg">
                        
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->

                  <!-- Form -->
                  <div class="mb-3">
                    <label class="form-label" for="emailSubject">Email Title/Subject</label>
                    <input (ngModel)="emailSubject" name="emailSubject" id="emailSubject"
                      placeholder="Email Subject" aria-label="Email Subject" rows="5" class="form-control form-control-lg" required/>
                    <em *ngIf="mailForm.controls['emailSubject']?.invalid && (mailForm.controls['emailSubject']?.touched || mouseoverLogin)">Required</em>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="mb-3">
                    <label class="form-label" for="emailTextArea">Details</label>
                    <textarea (ngModel)="emailTextArea" name="emailTextArea" id="emailTextArea" 
                      placeholder="Tell us about your ..." aria-label="Tell us about your ..." rows="5" class="form-control form-control-lg" required></textarea>
                    <em *ngIf="mailForm.controls['emailTextArea']?.invalid && (mailForm.controls['emailTextArea']?.touched || mouseoverLogin)">Required</em>
                  </div>
                  <!-- End Form -->

                  <div class="d-grid">
                    <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
                      <button id="sendMilBtn" [disabled]="mailForm.invalid" (click)="resetForm(mailForm)"
                        type="submit" class="btn btn-primary btn-lg">
                        Send inquiry
                      </button>
                    </span>
                  </div>

                  <div class="text-center">
                    <p class="form-text">We'll get back to you in 1-2 business days.</p>
                  </div>
                </form>
                <!-- End Form -->
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Contact Form -->
    <!-- End Leaflet -->

    <!-- modal for email -->

        <!-- Button trigger success modal -->
        <button id="emailFeedBackBtn" #emailFeedBackBtn type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
        </button>
        <!-- End Button trigger modal -->

        <!-- Modal -->
        <div id="exampleModalCenter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-success" id="exampleModalCenterTitle">Message Sent!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>We'll reach you in <strong>1 - 3 Working days</strong>, thank you for your time.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->

         <!-- Button trigger failure modal -->
         <button id="emailFeedBackBtn2" #emailFeedBackBtn type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModalCenter2">
        </button>
        <!-- End Button trigger modal -->

        <!-- Modal -->
        <div id="exampleModalCenter2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-success" id="exampleModalCenterTitle">Message Sent!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Soemthing went wrong and your email could not be set. Check your internet. If it's an internal error, our admins are already notified, thank you.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->

    <!-- end model for email -->

  </main>
