<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Article Description -->
    <div class="container content-space-t-3 content-space-t-lg-4 content-space-b-2">
      <div class="w-lg-65 mx-lg-auto">
        <div class="mb-4">
          <h1 class="h2">Investment: How to bla bla bla</h1>
        </div>

        <div class="row align-items-sm-center mb-5">
          <div class="col-sm-7 mb-4 mb-sm-0">
            <!-- Media -->
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <img class="avatar avatar-circle" src="./assets/img/160x160/img1.jpg" alt="Image Description">
              </div>

              <div class="flex-grow-1 ms-3">
                <h5 class="mb-0">
                  <a class="text-dark" href="#">Abolaji Micheal F.</a>
                </h5>
                <span class="d-block small">Team Lead, Cooperate Ventures</span>
              </div>
            </div>
            <!-- End Media -->
          </div>
          <!-- End Col -->

          <div class="col-sm-5">
            <div class="d-flex justify-content-sm-end align-items-center">
              <span class="text-cap mb-0 me-2">Connect With us:</span>

              <div class="d-flex gap-2">
                <a class="btn btn-soft-secondary btn-sm btn-icon rounded-circle" href="#">
                  <i class="bi-facebook"></i>
                </a>
                <a class="btn btn-soft-secondary btn-sm btn-icon rounded-circle" href="#">
                  <i class="bi-twitter"></i>
                </a>
                <a class="btn btn-soft-secondary btn-sm btn-icon rounded-circle" href="#">
                  <i class="bi-whatsapp"></i>
                </a>
                <a class="btn btn-soft-secondary btn-sm btn-icon rounded-circle" href="#">
                  <i class="bi-telegram"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

        <p>At Afriinvest, our mission has always been focused on bringing openness and transparency to the Investment process bla bla bla. 
          We've always believed that by providing a opportunity where clients can make money to empowers them to make better user of their time, 
          it also helps them grow. We're proud to be a part of creating a enablement in space and to continue building a bla bla bla bal bla bla.</p>
      </div>

      <div class="my-4 my-sm-8">
        <img class="img-fluid rounded-lg" src="./assets/img/1920x800/img3.jpg" alt="Image Description">
      </div>

      <!-- Nigeria section starts -->
      <div class="w-lg-65 mx-lg-auto" id="nigeria_">
        <p>As we've grown, we've seen how Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>

        <p>That's why we are excited to share that we now have a <a class="link" href="#">link</a>, 
          which will allow Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <!-- Blockquote -->
        <figure class="bg-light text-center p-7 my-7">
          <blockquote class="blockquote blockquote-lg">" I love Nigeria! I love the ease of use, I love the fact that I have total creative freedom... "</blockquote>
          
          <figcaption class="blockquote-footer">
            Marcus Rashford
            <span class="blockquote-footer-source">Footballer for Manchester United</span>
          </figcaption>
        </figure>
        <!-- End Blockquote -->

        <h3>
          Investment Options in Nigeria
        </h3>

        <p>We know the power of sharing is real, and we want to create an opportunity for everyone to try Front and explore how transformative open communication can be.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

        <ul class="list-py-2">
          <li><span class="gold">Gold</span>: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat," <a class="link" href="#">said</a> Stewart Scott-Curran, Intercom's Director of Brand Design.</li>
          <li><span class="real_estate">Real Estate</span>: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
          <li><span class="oil and gas">Oil and Gas</span>: Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>

        </ul>
      </div>

      <div class="my-4 my-sm-8">
        <img class="img-fluid rounded-lg" src="./assets/img/1920x800/img4.jpg" alt="Image Description">
      </div>
      <!-- Nigeria section ends -->




      <!-- Zimbabwe section starts -->

        
      <div class="w-lg-65 mx-lg-auto" id="zimbabwe_">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <!-- Blockquote -->
        <figure class="bg-light text-center p-7 my-7">
          <blockquote class="blockquote blockquote-lg">" Just another Madasger, a safe haven for the kingdom animalia "</blockquote>
          
          <figcaption class="blockquote-footer">
            S. Maxwell
            <span class="blockquote-footer-source">Professor, School of Computing Science, UNILAG</span>
          </figcaption>
        </figure>
        <!-- End Blockquote -->

        <h3>
          Investment Options in Zimbabwe
        </h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

          <ul class="list-py-2">
            <li><span class="gold">Gold</span>: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat," <a class="link" href="#">said</a> Stewart Scott-Curran, Intercom's Director of Brand Design.</li>
            <li><span class="real_estate">Real Estate</span>: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><span class="oil and gas">Oil and Gas</span>: Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
          </ul>
      </div>

      <div class="my-4 my-sm-8">
        <img class="img-fluid rounded-lg" src="./assets/img/1920x800/img1.jpg" alt="Image Description">
      </div>

      <!-- zimbabwe section ends ends -->

      <div class="w-lg-65 mx-lg-auto" id="others_">
        <p>Investment bla bla bla, see the ohter things - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>


        <p>We will continue to server our <a class="link" [routerLink]="['/stories']">customers</a>; if you have any questions or suggestions, 
          please <a class="link" [routerLink]="['/contactus']">contact us!</a></p>

        <p>Follow us on <a class="link" href="#">Twitter</a>, <a class="link" href="#">Facebook</a>, <a class="link" href="#">YouTube</a></p>


        <div class="row justify-content-sm-between align-items-sm-center mt-5">
          <div class="col-sm mb-2 mb-sm-0">
            <div class="d-flex align-items-center">
              <span class="text-cap mb-0 me-2">Connect With Us:</span>

              <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle me-2" href="#">
                <i class="bi-facebook"></i>
              </a>
              <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle me-2" href="#">
                <i class="bi-twitter"></i>
              </a>
              <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle me-2" href="#">
                <i class="bi-whatsapp"></i>
              </a>
              <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle me-2" href="#">
                <i class="bi-telegram"></i>
              </a>
            </div>
          </div>
          <!-- End Col -->

          <div class="col-sm-auto">
            <a class="btn btn-soft-secondary btn-sm btn-icon rounded-circle" href="#" data-toggle="tooltip" data-placement="top" title="Bookmark story">
              <i class="bi-bookmark"></i>
            </a>
            <a class="btn btn-soft-secondary btn-sm btn-icon rounded-circle" href="#" data-toggle="tooltip" data-placement="top" title="Report story">
              <i class="bi-flag"></i>
            </a>
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Article Description -->



    

    <!-- Contacts -->
    <div class="position-relative container w-md-75 w-lg-65 pb-9" id="collaborate">
      <div class="bg-primary bg-img-start" style="background-image: url(./assets/svg/components/shape-7.svg);">
        <div class="container content-space-t-2 content-space-t-lg-3 content-space-b-1">
          <!-- Heading -->
          <div class="w-lg-50 text-center mx-lg-auto mb-7">
            <span class="text-cap text-white-70">Contact us</span>
            <h2 class="text-white lh-base">We collaborate with ambitious brands or people. <span class="text-warning">Let's chat.</span></h2>
          </div>
          <!-- End Heading -->

          <div class="mx-auto" style="max-width: 35rem;">
          <!-- Card -->
          <div class="card zi-2">
            <div class="card-body">
              <!-- Form -->
              <form #learnMoreForm="ngForm" (ngSubmit)="sendMail(learnMoreForm.value)" autcocomplete=off novalidate>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- Form -->
                    <div class="mb-4">
                      <label class="form-label" for="firstName">First name</label>
                      <input type="text" (ngModel)="firstName" #firstName="ngModel" name="firstName" id="firstName" minlength="2" required
                            placeholder="First name" aria-label="First name" class="form-control form-control-lg">
                      <em *ngIf="firstName.touched && firstName.invalid">Required: at least 2 characters</em>
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Col -->

                  <div class="col-sm-6">
                    <!-- Form -->
                    <div class="mb-4">
                      <label class="form-label" for="lastName">Last name</label>
                      <input type="text"  (ngModel)="lastName" #lastName="ngModel" name="lastName" id="lastName" minlength="2" required
                            placeholder="Last name" aria-label="Last name" class="form-control form-control-lg">
                      <em *ngIf="lastName.touched && lastName.invalid">Required: at least 2 characters</em>
                    </div>
                    <!-- End Form -->
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->

                <!-- Form -->
                <div class="mb-4">
                  <label class="form-label" for="email">Email address</label>
                  <input type="email" (ngModel)="email_" #email_="ngModel" name="email" id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
                        placeholder="email@site.com" aria-label="email@site.com" class="form-control form-control-lg">
                  <em *ngIf="email_.touched && (email_.invalid || email_.errors)">Required: invalid format</em>
                </div>
                <!-- End Form -->

                <!-- Form -->
                <div class="mb-4">
                  <label class="form-label" for="companyName">Company name <span class="form-label-secondary">(Optional)</span></label>
                  <input type="text" (ngModel)="companyName" #companyName="ngModel" name="companyName" id="companyName" 
                        placeholder="Example Cooporations" aria-label="Example Cooporations" class="form-control form-control-lg">
                </div>
                <!-- End Form -->

                <!-- Select -->
                <div class="mb-4">
                  <label class="form-label" for="budget">Budget</label>
                  <select id="budget" (ngModel)="budget" #budget="ngModel" name="budget" 
                    aria-label="Tell us about your budget" class="form-select form-select-lg">
                    <option selected>Tell us about your budget</option>
                    <option value="$1,000 - $10,000">$1,000 - $10,000</option>
                    <option value="$10,000 - $20,000">$10,000 - $20,000</option>
                    <option value="$20,000 - $30,000">$20,000 - $30,000</option>
                    <option value="$30,000 - $40,000">$30,000 - $40,000</option>
                    <option value="$40,000 - $50,000">$40,000 - $50,000</option>
                    <option value="$50,000 - and more">$50,000 - and more</option>
                </select>
                </div>
                <!-- End Select -->

                <!-- Form -->
                <div class="mb-4">
                  <label class="form-label" for="message">Details</label>
                  <textarea name="message" (ngModel)="message" #message="ngModel" id="message" required minlength="5"
                          placeholder="Tell us about your project" aria-label="Tell us about your project" 
                          rows="4" class="form-control form-control-lg"></textarea>
                  <em *ngIf="message.touched && message.invalid">Required</em>
                </div>
                <!-- End Form -->

                <!-- Check -->
                <div class="form-check mb-4">
                  <input type="checkbox" (ngModel)="privacyCheck" #privacyCheck="ngModel" id="privacyCheck" name="privacyCheck" required
                        required data-msg="Please accept our Privacy Policy." class="form-check-input">
                  <label class="form-check-label small" for="privacyCheck"> By submitting this form I have read and acknowledged the <a [routerLink]="['/privacy']">Privacy Policy</a></label>
                  <em *ngIf="privacyCheck.errors && learnMoreForm.touched">Required</em>
                </div>
                <!-- End Check -->

                <div class="d-grid mb-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                          [disabled]="learnMoreForm.invalid">Send inquiry</button>
                </div>

                <div class="text-center">
                  <span class="form-text">We'll get back to you in 1-3 business days.</span>
                </div>
              </form>
              <!-- End Form -->
            </div>
          </div>
          <!-- End Card -->
          </div>
        </div>
      </div>

      <!-- Shape -->
      <div class="shape shape-bottom zi-1">
      <svg width="3000" height="500" viewBox="0 0 3000 500" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 500H3000V0L0 500Z" fill="#fff"/>
      </svg>
      </div>
      <!-- End Shape -->
    </div>
    <!-- End Contacts -->

    <!-- Email Feedback Modal -->
    <div class="modal fade" id="emailFeedbackModal" tabindex="-1" aria-labelledby="learnMoreEmailFeedBackModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="emailFedbackModelTitle">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Email has been Sent! Thank you.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm(learnMoreForm)">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end Email Feedback Modal -->

    <!-- Button trigger modal -->
    <button type="button" id="emailFeedbackModalBtn" #emailFeedbackModalBtn class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#emailFeedbackModal">
    </button>

</main>
<!-- ========== END MAIN CONTENT ========== -->