<header id="header" class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-light navbar-show-hide"
        data-hs-header-options='{
          "fixMoment": 1000,
          "fixEffect": "slide"
        }'>
  <!-- Topbar -->
  <div class="container navbar-topbar">
    <nav class="js-mega-menu navbar-nav-wrap">
      <!-- Toggler -->
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#topbarNavDropdown" aria-controls="topbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="d-flex justify-content-between align-items-center small">
          <span class="navbar-toggler-text">Topbar</span>

          <span class="navbar-toggler-default">
            <i class="bi-chevron-down ms-2"></i>
          </span>
          <span class="navbar-toggler-toggled">
            <i class="bi-chevron-up ms-2"></i>
          </span>
        </span>
      </button>
      <!-- End Toggler -->

      <div id="topbarNavDropdown" class="navbar-nav-wrap-collapse collapse navbar-collapse navbar-topbar-collapse">
        <div class="navbar-toggler-wrapper">
          <div class="navbar-topbar-toggler d-flex justify-content-between align-items-center">
            <span class="navbar-toggler-text small">Topbar</span>

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topbarNavDropdown" aria-controls="topbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <i class="bi-x"></i>
            </button>
            <!-- End Toggler -->
          </div>
        </div>

        
      </div>
    </nav>
  </div>
  <!-- End Topbar -->

  <div class="container">
    <nav class="js-mega-menu navbar-nav-wrap">
      <!-- Default Logo -->
      <a class="navbar-brand" href="./index.html" aria-label="Front">
        <!-- src="./assets/svg/logos/logo.svg" -->
        <img class="navbar-brand-logo" src="./images/afriinvest_logo_free_hand.png" alt="Logo">
      </a>
      <!-- End Default Logo -->

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
          <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
          <i class="bi-x"></i>
        </span>
      </button>
      <!-- End Toggler -->
    
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-absolute-top-scroller">
          <ul class="navbar-nav">
            <!-- Landings -->
            <li class="hs-has-mega-menu nav-item">
              <a id="landingsMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle active" aria-current="page" href="#" [routerLink]="['/home']" aria-expanded="false">Company</a>

              <!-- Mega Menu -->
              <div class="hs-mega-menu dropdown-menu w-100" aria-labelledby="landingsMegaMenu" style="min-width: 30rem;">
                <div class="row">
                  <div class="col-lg-6 d-none d-lg-block">
                    <!-- Banner Image -->
                    <div class="navbar-dropdown-menu-banner" style="background-image: url(./assets/svg/components/shape-3.svg);">
                      <div class="navbar-dropdown-menu-banner-content">
                        <div class="mb-4">
                          <span class="h2 d-block">Your One-Stop-Shop Investment Firm</span>
                          <p>Bridging the Gap between investment &amp; investors.</p>
                        </div>
                        <a class="btn btn-primary btn-transition" [routerLink]="['/learnmore']">Learn more <i class="bi-chevron-right small"></i></a>
                      </div>
                    </div>
                    <!-- End Banner Image -->
                  </div>
                  <!-- End Col -->

                  <div class="col-lg-6">
                    <div class="navbar-dropdown-menu-inner">
                      <div class="row">
                        <div class="col-sm mb-3 mb-sm-0">
                          <span class="dropdown-header">Who we are</span>
                          <a class="dropdown-item active" [routerLink]="['/home']">Home</a>
                          <a class="dropdown-item " [routerLink]="['/about']">About Us</a>
                          <a class="dropdown-item " [routerLink]="['/hireus']">Consulting</a>
                          <a class="dropdown-item anchor-tag-hider" href="#">A</a>
                          <a class="dropdown-item anchor-tag-hider" href="#">B</a>
                          <a class="dropdown-item anchor-tag-hider" href="#">C</a>
                        </div>
                        <!-- End Col -->

                        <div class="col-sm">
                          <div class="mb-3">
                            <span class="dropdown-header">Where we reach</span>
                            <a class="dropdown-item " [routerLink]="['/howto']" fragment="countries">Countries</a>
                            <a class="dropdown-item " [routerLink]="['/project']">Project</a>
                            <a class="dropdown-item anchor-tag-hider" href="#">D</a>
                            <a class="dropdown-item anchor-tag-hider" href="#">E</a>
                            <a class="dropdown-item anchor-tag-hider" href="#">F</a>

                          </div>
                        </div>
                        <!-- End Col -->
                      </div>
                      <!-- End Row -->
                    </div>
                  </div>
                  <!-- End Col -->
                </div>
                <!-- End Row -->
              </div>
              <!-- End Mega Menu -->
            </li>
            <!-- End Landings -->

            <!-- Company -->
            <li class="hs-has-sub-menu nav-item">
              <a id="companyMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#" role="button" aria-expanded="false">Invest</a>

              <!-- Mega Menu -->
              <div class="hs-sub-menu dropdown-menu" aria-labelledby="companyMegaMenu" style="min-width: 14rem;">
                <a class="dropdown-item " [routerLink]="['/howto']">How to Invest</a>
                <a class="dropdown-item " [routerLink]="['/learnmore']" fragment="collaborate">Proposals</a>
                <a class="dropdown-item " href="./page-customer-story.html">Customer Story</a>
                <a class="dropdown-item " [routerLink]="['/faq']">FAQ</a>
                <a class="dropdown-item " [routerLink]="['/hireus']">Hire Us</a>
              </div>
              <!-- End Mega Menu -->
            </li>
            <!-- End Company -->

            <!-- Account -->
            <li class="hs-has-sub-menu nav-item">
              <a id="accountMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#" role="button" aria-expanded="false">Contact us</a>

              <!-- Mega Menu -->
              <div class="hs-sub-menu dropdown-menu" aria-labelledby="accountMegaMenu" style="min-width: 14rem;">
                <a class="dropdown-item " href="./account-overview.html">See our details</a>
                <a class="dropdown-item " href="./account-security.html">Send us a mail</a>
                <a class="dropdown-item " href="./account-notifications.html">Connect on Social media</a>
                <a class="dropdown-item " href="./account-notifications.html">Meet the team</a>
                <a class="dropdown-item " href="./account-preferences.html">Special needs?</a>
              </div>
              <!-- End Mega Menu -->
            </li>
            <!-- End Account -->

            <!-- Blog -->
            <li class="hs-has-sub-menu nav-item">
              <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle " href="#" role="button" aria-expanded="false">Blog</a>

              <!-- Mega Menu -->
              <div class="hs-sub-menu dropdown-menu" aria-labelledby="blogMegaMenu" style="min-width: 14rem;">
                <a class="dropdown-item " href="./blog-newsroom.html">Newsroom</a>
                <a class="dropdown-item " href="./blog-article.html">Media</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item " href="./blog-author-profile.html">Customer stories</a>
              </div>
              <!-- End Mega Menu -->
            </li>
            <!-- End Blog -->

            <!-- Button -->
            <li class="nav-item">
              <a class="btn btn-primary btn-transition" href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">Message Us Now!</a>
            </li>
            <!-- End Button -->
          </ul>
        </div>
      </div>
      <!-- End Collapse -->
    </nav>
  </div>
</header>