<main id="content" role="main">
    <!-- Hero -->
    <div class="d-lg-flex position-relative">
        <div class="container d-lg-flex align-items-lg-center content-space-t-3 content-space-lg-0 min-vh-lg-100">
        <!-- Heading -->
        <div class="w-100">
            <div class="row">
            <div class="col-lg-5">
                <div class="mb-5">
                <h1 class="display-4 mb-3">
                    Investment One-Stop-Shop!
                    <span class="text-primary text-highlight-warning">
                        <span class="js-typedjs"
                                data-hs-typed-options='{
                                "strings": ["Partner with us.", "Consult Us.", "Invest with us."],
                                "typeSpeed": 90,
                                "loop": true,
                                "backSpeed": 30,
                                "backDelay": 2500
                                }'>
                        </span>
                    </span>
                </h1>
                
                <p class="lead">
                    We offer a variety of investment options. Grow your portfolio. <br />
                    Rest easy while we cover the risk
                </p>
                </div>

                <div class="d-grid d-sm-flex gap-3">
                <a class="btn btn-primary btn-transition px-6" href="./page-login-simple.html">Get started</a>
                <a class="btn btn-link" href="#">Learn more <i class="bi-chevron-right small ms-1"></i></a>
                </div>
            </div>
            <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Title & Description -->

        <!-- SVG Shape -->
        <div class="col-lg-7 col-xl-6 d-none d-lg-block position-absolute top-0 end-0 pe-0" style="margin-top: 6.75rem;">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1137.5 979.2">
            <path fill="#F9FBFF" d="M565.5,957.4c81.1-7.4,155.5-49.3,202.4-115.7C840,739.8,857,570,510.7,348.3C-35.5-1.5-4.2,340.3,2.7,389
                c0.7,4.7,1.2,9.5,1.7,14.2l29.3,321c14,154.2,150.6,267.8,304.9,253.8L565.5,957.4z"/>
            <defs>
                <path id="mainHeroSVG1" d="M1137.5,0H450.4l-278,279.7C22.4,430.6,24.3,675,176.8,823.5l0,0C316.9,960,537.7,968.7,688.2,843.6l449.3-373.4V0z"/>
            </defs>
            <clipPath id="mainHeroSVG2">
                <use xlink:href="#mainHeroSVG1"/>
            </clipPath>
            <g transform="matrix(1 0 0 1 0 0)" clip-path="url(#mainHeroSVG2)">
                <image width="750" height="750" xlink:href="./assets/img/750x750/img2.jpg" transform="matrix(1.4462 0 0 1.4448 52.8755 0)"></image>
            </g>
            </svg>
        </div>
        <!-- End SVG Shape -->
        </div>
    </div>
    <!-- End Hero -->

    <!-- Card Grid -->
    <div class="container content-space-2 content-space-t-xl-3 content-space-b-lg-3">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5">
        <h2>Worried about <span class="text-primary">diversifying</span> thy investment? <span class="text-success">Look no further!</span></h2>
        </div>
        <!-- End Heading -->

        <div class="text-center mb-10">
        <!-- List Checked -->
        <ul class="list-inline list-checked list-checked-primary">
            <li class="list-inline-item list-checked-item">Minimum Risk</li>
            <li class="list-inline-item list-checked-item">Preselected Investment Portfolio</li>
            <li class="list-inline-item list-checked-item">Great Returns on Investment</li>
        </ul>
        <!-- End List Checked -->
        </div>

        <div class="row mb-5 mb-md-0">
        <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="card card-sm h-100">
            <div class="p-2">
                <img class="card-img" src="./assets/img/480x220/img1.jpg" alt="Image Description">
            </div>

            <div class="card-body">
                <h4 class="card-title">Invest in Mineral Resources</h4>
                <p class="card-text">The earth is the Lord and he has given it to the sons of men!</p>

                <!-- List Pointer -->
                <ul class="list-pointer mb-0">
                <li class="list-pointer-item">Interested in investing in Gold?</li>
                <li class="list-pointer-item">What about Lithium?</li>
                <li class="list-pointer-item">..and Phosphate?</li>
                </ul>
                <!-- End List Pointer -->
            </div>
            
            <a class="card-footer card-link border-top" href="#">Learn more <i class="bi-chevron-right small ms-1"></i></a>
            </div>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="card card-sm h-100">
            <div class="p-2">
                <img class="card-img" src="./assets/img/480x220/img2.jpg" alt="Image Description">
            </div>

            <div class="card-body">
                <h4 class="card-title">Invest in Real Estate</h4>
                <p class="card-text">Landed poperties everywhere you go!</p>

                <!-- List Pointer -->
                <ul class="list-pointer mb-0">
                <li class="list-pointer-item">Invest in our investments</li>
                <li class="list-pointer-item">Buyan existing property</li>
                <li class="list-pointer-item">Lands, lands and more lands</li>
                </ul>
                <!-- End List Pointer -->
            </div>
            
            <a class="card-footer card-link border-top" href="#">Learn more <i class="bi-chevron-right small ms-1"></i></a>
            </div>
            <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-4">
            <!-- Card -->
            <div class="card card-sm h-100">
            <div class="p-2">
                <img class="card-img" src="./assets/img/480x220/img3.jpg" alt="Image Description">
            </div>

            <div class="card-body">
                <h4 class="card-title">Invest in Agriculture</h4>
                <p class="card-text">Hey, we all need mother nature produce right?</p>

                <!-- List Pointer -->
                <ul class="list-pointer mb-0">
                <li class="list-pointer-item">Cash crops</li>
                <li class="list-pointer-item">Farm Investments</li>
                <li class="list-pointer-item">Animal Production</li>
                </ul>
                <!-- End List Pointer -->
            </div>
            
            <a class="card-footer card-link border-top" href="#">Learn more <i class="bi-chevron-right small ms-1"></i></a>
            </div>
            <!-- End Card -->
        </div>
        <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Card Grid -->

    <!-- Features -->
    <div class="position-relative bg-light rounded-2 mx-3 mx-lg-10">
        <div class="container content-space-2 content-space-lg-3">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5">
            <h2>Who said you had to choose?</h2>
            <p>
                At <span class="text-primary fw-bold">Afriinvest</span>, we believe in investing in quality portfolio.
                We got sound management, conservative debt levels, recurring earnings and stability.
                Our investment decision are driven by rigorous research.
            </p>
        </div>
        <!-- End Heading -->

        <div class="text-center mb-10">
            <!-- List Checked -->
            <ul class="list-inline list-checked list-checked-primary">
            <li class="list-inline-item list-checked-item">Prompt response from our help desk</li>
            <li class="list-inline-item list-checked-item">Professional Investment Advice</li>
            <li class="list-inline-item list-checked-item">Constant updates</li>
            </ul>
            <!-- End List Checked -->
        </div>

        <div class="row">
            <div class="col-lg-7 mb-9 mb-lg-0">
            <div class="pe-lg-6">
                <!-- Browser Device -->
                <figure class="device-browser">
                <div class="device-browser-header">
                    <div class="device-browser-header-btn-list">
                    <span class="device-browser-header-btn-list-btn"></span>
                    <span class="device-browser-header-btn-list-btn"></span>
                    <span class="device-browser-header-btn-list-btn"></span>
                    </div>
                    <div class="device-browser-header-browser-bar">Afriinvest.com</div>
                </div>

                <div class="device-browser-frame">
                    <!-- src="./assets/img/1618x1010/img6.jpg" -->
                    <img class="device-browser-img" src="./images/business_men_shake_hands2.webp" alt="Image Description">
                </div>
                </figure>
                <!-- End Browser Device -->
            </div>
            </div>
            <!-- End Col -->

            <div class="col-lg-5">
            <!-- Heading -->
            <div class="mb-4">
                <h2>Stable, profitable and flexible investment options for you</h2>
                <p>We can invest in our portfolio, partner with us and Let us handle your investment</p>
            </div>
            <!-- End Heading -->
            
            <!-- List Checked -->
            <ul class="list-checked list-checked-primary mb-5">
                <li class="list-checked-item">Less routine – more creativity</li>
                <li class="list-checked-item">Hundreds of thousands saved</li>
                <li class="list-checked-item">Scale budgets efficiently</li>
            </ul>
            <!-- End List Checked -->

            <a class="btn btn-primary" href="#">Get started</a>

            <hr class="my-5">

            <span class="d-block">Trusted by leading companies</span>

            <div class="row">
                <div class="col py-3">
                <img class="avatar avatar-4x3" src="./assets/svg/brands/fitbit-dark.svg" alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col py-3">
                <img class="avatar avatar-4x3" src="./assets/svg/brands/forbes-dark.svg" alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col py-3">
                <img class="avatar avatar-4x3" src="./assets/svg/brands/mailchimp-dark.svg" alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col py-3">
                <img class="avatar avatar-4x3" src="./assets/svg/brands/layar-dark.svg" alt="Logo">
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
        </div>
    </div>
    <!-- End Features -->

    <!-- Testimonials -->
    <div class="container content-space-2 content-space-lg-3">
        <div class="row align-items-md-center">
        <div class="col-md-5 d-none d-md-block">
            <img class="img-fluid rounded-2" src="./assets/img/400x500/img31.jpg" alt="Image Description">
        </div>
        <!-- End Col -->

        <div class="col-md-7">
            <!-- Blockquote -->
            <figure class="pe-md-7">
            <div class="mb-4">
                <img class="avatar avatar-xl avatar-4x3" src="./images/makeshift_logo.PNG" alt="Image Description">
            </div>

            <blockquote class="blockquote blockquote-lg">" I'm absolutely floored by the level of care and attention to detail the team at Afriinvest have put into their company and for one can guarantee that I will be a return customer. "</blockquote>
            
            <figcaption class="blockquote-footer">
                <div class="d-flex align-items-center">
                <div class="flex-shrink-0 d-md-none">
                    <img class="avatar avatar-circle" src="./assets/img/160x160/img4.jpg" alt="Image Description">
                </div>
                <div class="flex-grow-1 ms-3 ms-md-0">
                    John O.
                    <span class="blockquote-footer-source">Managing Direcotor at Makeshift.org</span>
                </div>
                </div>
            </figcaption>
            </figure>
            <!-- End Blockquote -->
        </div>
        <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Testimonials -->

    <!-- Stats -->
    <div class="bg-light rounded-2 mx-3 mx-lg-10">
        <div class="container content-space-2">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
            <!-- Stats -->
            <div class="text-center">
                <h2 class="display-4"><i class="bi-arrow-down-short text-danger"></i>47%</h2>
                <p class="mb-0">increase in investment<br>over the last 3 months</p>
            </div>
            <!-- End Stats -->
            </div>
            <!-- End Col -->

            <div class="col-sm-6 col-md-4 mb-7 mb-md-0">
            <!-- Stats -->
            <div class="text-center">
                <h2 class="display-4"><i class="bi-arrow-up-short text-success"></i>23%</h2>
                <p class="mb-0">increase in traffic in<br>email correspondence with investors</p>
            </div>
            <!-- End Stats -->
            </div>
            <!-- End Col -->

            <div class="col-sm-6 col-md-4">
            <!-- Stats -->
            <div class="text-center">
                <h2 class="display-4"><i class="bi-arrow-up-short text-success"></i>9.3%</h2>
                <p class="mb-0">boost in reply rates across<br>sales outreach</p>
            </div>
            <!-- End Stats -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
        </div>
    </div>
    <!-- End Stats -->

    <!-- Card Grid -->
    <div class="container content-space-2 content-space-lg-3">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5">
        <h2>Discover more</h2>
        </div>
        <!-- End Heading -->

        <div class="overflow-hidden">
        <div class="row gx-lg-7">
            <div class="col-sm-6 col-lg-4 mb-5">
                <!-- Card -->
                <a class="card card-flush h-100" href="#" data-aos="fade-up">
                    <!--./assets/img/480x320/img33.jpg-->
                    <img class="card-img" src="./images/red-yellow-garri-bowls-table-top_539365-1829.webp" alt="Garri Images">
                    <div class="card-body">
                    <span class="card-subtitle text-body">Invest in Nigeria</span>
                    <h4 class="card-title text-inherit">Opportunities at the click of your mouse!</h4>
                    <p class="card-text text-body">Our investment model is simple and client-friendly.</p>
                    </div>
                </a>
                <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col-sm-6 col-lg-4 mb-5">
                <!-- Card -->
                <a class="card card-flush h-100" href="#" data-aos="fade-up" data-aos-delay="150">
                    <!-- ./assets/img/480x320/img34.jpg -->
                    <img class="card-img" src="./images/zimbabwe_gold_mine.jpg" alt="Zimbabwe Gold mine image">
                    <div class="card-body">
                    <span class="card-subtitle text-body">Invest in Zimbabwe</span>
                    <h4 class="card-title text-inherit">Life, nature and love</h4>
                    <p class="card-text text-body">Whether you're a startup or a global enterprise, learn how to integrate with Front.</p>
                    </div>
                </a>
                <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col-sm-6 col-lg-4 mb-5">
                <!-- Card -->
                <a class="card card-flush h-100 aos-init aos-animate" href="#" data-aos="fade-up" data-aos-delay="200">
                    <img class="card-img" src="./assets/img/480x320/img35.jpg" alt="Image Description">
                    <div class="card-body">
                    <span class="card-subtitle text-body">Learn about other solutions</span>
                    <h4 class="card-title text-inherit">Explore the out other investment options tool</h4>
                    <p class="card-text text-body">profitable, secure and risk free.</p>
                    </div>
                </a>
                <!-- End Card -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
        </div>

        <!-- Card Info -->
        <div class="text-center">
        <div class="card card-info-link card-sm">
            <div class="card-body">
            Want to read more? <a class="card-link ms-2" href="#">Go here <span class="bi-chevron-right small ms-1"></span></a>
            </div>
        </div>
        </div>
        <!-- End Card Info -->
    </div>
    <!-- End Card Grid -->
</main>